:root {
  --color-1: #0F6A6F; /* teal gelap */
  --color-2: #79AFC6; /* biru pastel */
  --color-3: #F0D86A; /* kuning lembut */
  --color-4: #d89371; /* oranye hangat */
  --color-5: #c06e76; /* merah coral */
}

.bg-1 {
  background-color: var(--color-1);
}
.bg-2 {
  background-color: var(--color-2);
}
.bg-3 {
  background-color: var(--color-3);
}
.bg-4 {
  background-color: var(--color-4);
}
.bg-5 {
  background-color: var(--color-5);
}